.btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	padding: 12px 24px;
	border: none;
	border-radius: 24px;
	font-size: 18px;
	line-height: 1.2;
	font-weight: bold;
	&-primary {
		background-color: #00aa13;
		color: #fff;
	}
	&-text {
		padding: 12px 0;
		font-size: 16px;
		i {
			padding: 4px;
		}
	}
}
