.footer {
	padding: 64px 0;
	background-color: #101820;
	color: #fff;
	&__top {
		padding: 40px 0;
		border-bottom: solid 1px #63666a;
	}
	&__logo {
		margin-bottom: 56px;
		&__el {
			display: block;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__nav {
		&__title {
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 32px;
			font-weight: bold;
		}
		&__menu {
			list-style: none;
			margin: 0;
			padding: 0;
			&__item {
				display: block;
				margin-bottom: 24px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&__link {
				text-decoration: none;
				font-size: 16px;
				line-height: 1.2;
			}
		}
	}
	&__sosmed {
		&__list {
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__title {
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 32px;
			font-weight: bold;
		}
		&__menu {
			list-style: none;
			margin: 0;
			padding: 0;
			&__item {
				display: inline-block;
				vertical-align: middle;
				margin-right: 32px;
				&:last-child {
					margin-right: 0;
				}
			}
			&__link {
				text-decoration: none;
				font-size: 32px;
				line-height: 1.2;
			}
		}
	}
	&__middle {
		padding: 40px 0;
	}
	&__terms {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-columns: repeat(2, minmax(170px, 1fr));
		gap: 20px;
		&__link {
			font-size: 16px;
			line-height: 1.2;
		}
	}
	&__form {
		display: flex;
		align-items: center;
		&__icon {
			font-size: 24px;
			padding: 8px;
		}
		&__input {
			&__el {
				display: inline-block;
				background-color: transparent;
				border: solid 1px #d3d3d33d;
				height: 48px;
				width: 320px;
				border-radius: 24px;
				color: #fff;
				font-size: 16px;
				padding: 12px 24px;
			}
		}
	}
	&__bottom {
		padding: 40px 0;
	}
	&__copyright {
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 0;
	}
}
