.hb {
	background-color: #101820;
	&__wrapper {
		height: 480px;
		position: relative;
	}
	&__title {
		font-size: 60px;
		line-height: 1.2;
		font-family: ff(family-title);
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
	&__image {
		&__left {
			position: absolute;
			width: 400px;
			bottom: 0;
			left: 0;
		}
		&__right {
			width: 420px;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
