.loyalty {
	padding: 56px 0;
	background-color: #101820;
	color: #fff;
	&__wrapper {
		display: flex;
		align-items: center;
	}
	&__img {
		&__el {
			display: block;
		}
	}
	&__text {
		padding: 24px;
	}
	&__title {
		font-family: ff(family-title);
		font-size: 36px;
		line-height: 1.2;
		font-weight: bold;
		text-align: center;
	}
	&__desc {
		font-size: 16px;
		margin-bottom: 24px;
	}
}
