.scale {
	padding: 72px 0;
	&__head {
		text-align: center;
		margin-bottom: 112px;
	}
	&__title {
		font-size: 48px;
		font-family: ff(family-title);
		margin-bottom: 32px;
	}
	&__body {
		display: flex;
		gap: 40px;
	}
	&__card {
		width: 25%;
		display: flex;
		flex-direction: column;
		border-radius: 40px;
		background-color: #fff;
		box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.1);
		&--green {
			background-color: #7ccc6c;
			box-shadow: 0px 0px 32px 10px #b2e5b8;
		}
		&--purple {
			background-color: #d48bc8;
			box-shadow: 0px 0px 32px 10px #d0b4d4;
		}
		&--orange {
			background-color: #ffae62;
			box-shadow: 0px 0px 32px 10px #fbdcbe;
		}
		&--blue {
			background-color: #4ac9e3;
			box-shadow: 0px 0px 32px 10px #b2e6f2;
		}
		&__img {
			transform: translateY(-80px);
			&__el {
				display: block;
			}
		}
		&__text {
			padding: 0 40px 40px;
		}
		&__title {
			font-size: 36px;
			line-height: 1.2;
			font-family: ff(family-title);
		}
		&__desc {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 0;
		}
	}
}
