@import "core/styles/_assets.scss";

.header {
	$h: &;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: color(primary);
	padding: 32px 0;
	&Inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&Logo {
		&Link {
			display: block;
		}
		&Img {
			display: block;
			height: 32px;
		}
	}
	&Menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		&Item {
			font-size: 16px;
			line-height: 1.3;
			font-weight: bold;
			margin-right: 32px;
			&:last-child {
				margin-right: 0;
			}
		}
		&Link {
			text-decoration: none;
			display: block;
			color: #fff;
			position: relative;
			&::after {
				content: "";
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: -6px;
				height: 2px;
				width: 100%;
				background-color: #fff;
				transform: scaleX(0);
				transform-origin: right center;
				transition: transform 0.3s ease;
			}
			&.active {
				&::after {
					transform: scaleX(1);
				}
			}
			&:hover {
				&::after {
					transform: scaleX(1);
					transform-origin: left center;
				}
			}
		}
	}
}
