@import "core/styles/_assets.scss";

.feature {
	$f: &;
	padding: 80px 0;
	background-color: color(black);
	border-top-left-radius: 64px;
	border-top-right-radius: 64px;
	margin-top: -96px;
	position: relative;
	overflow: hidden;
}
.head {
	margin-bottom: 48px;
	position: relative;
	z-index: 1;
}
.title {
	@include font-size(h2);
	font-family: ff(title);
	margin-bottom: 16px;
	color: color(white);
}
.list {
	display: flex;
	gap: 24px;
	height: 100%;
	margin-left: -32px;
	margin-right: -32px;
	position: relative;
	z-index: 1;
}
.bg {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	&Img {
		display: block;
		height: 100%;
	}
}
